{% extends "base.html" %}
{% block main_content %}
<div class="wrapper col-md-12">
	<h1 class="text-center">{{object.title}}</h1>
	<p class="well well-sm">
		<span class="glyphicon glyphicon-user"></span>{{object.author.profile.nick_name}}</small>
		<span class="glyphicon glyphicon-time"></span><small>  {{object.created_time|date:"m-d H:i"}}</small>
	</p>
	<div class="content-main">
		<p>{{object.body_text}}</p>
	</div>
	<hr/>
</div>

<div id="commentList" class="col-md-12">
</div>

<div class="panel-body">
	<form role="form" id="formComment">
		<div class="form-group">
			<textarea class="form-control" rows="5" placeholder="请在这输入评论" name="body_text"></textarea>
		</div>
		<input type="hidden" name="status_id" value="{{object.id}}">
		<div class="form-group">
			<button type="button" id="formCommentSubmit" class="pull-right btn btn-primary">提交</button>
		</div>
	</form>
    <script type="text/javascript" src="/static/js/list.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			commentsList = new List("webboardCommentList", "#commentList", '<div class="popover top in"><div class="arrow"></div><h3 class="popover-title">{author.nick_name}@{created_time}</h3><div class="popover-content"><p>{body_text}</p></div></div>', {status_id: {{object.id}}, limit:5});
			commentsList.update();
			$("#formComment textarea").keypress(function (e) {
				if (e.ctrlKey && (e.which == 13 || e.which == 10)) {$("#formCommentSubmit").click()}
			});
			$("#formCommentSubmit").click(function () {
				var data = api.normal("webboardCommentAdd", function () {commentsList.update()},$("#formComment").serialize());
			});
		});
	</script>
</div>
{% endblock %}