{% extends "base.html" %}
{% block title %}
公告列表 - 华附模联公告板
{% endblock %}
{% block extra_css %}body {max-height:600px;
background:url('/static/img/bg.jpg');
                             filter:alpha(opacity=5);
                             Opacity:5;
                             -moz-opacity:5;
                             background-repeat:no-repeat;
                             background-attachment: scroll;
            background-size:cover;}
{% endblock %}
{% block main_content %}
<div class="modal fade" id="deleteHint" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-content">
        	<div class="modal-header">
            	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="deleteModalTitle">提示</h4>
            </div>
            <div class="modal-body">
            	确定要删除这条公告吗？
            </div>
            <div class="modal-footer">
            	<div class="">
                	<button class="btn btn-default" data-dismiss="modal">取消</button>
                    <button class="btn btn-primary" id="deleteHintConfirm">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <table class="table table-condensed" style="background-color:white;">
        <thead>
            <tr>
                <th>标题</th>
                <th>作者</th>
                <th>发布时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        {% for object in objects.object_list %}
            <tr id="tr{{object.id}}">
                <td><a href="/webboard/{{object.id}}/">{{object.title}}</a></td>
                <td>{{object.author.profile.nick_name}}</td>
                <td>{{object.created_time|date:"m-d H:i"}}</td>
                <td>
                {% if perms.webboard.delete_modify %}
                    <button class="delete btn btn-link btn-xs" data-id="{{object.id}}">删除</button>
                {% else %}
                    <small class="text-danger">没有权限</small>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul class="pager">
        {% if objects.has_previous %}
        <li class="previous"> <a href="/webboard/list/?page={{objects.previous_page_number}}">上一页</a></li>
        {% endif %}
        {% if objects.has_next %}
        <li class="next"> <a href="/webboard/list/?page={{objects.next_page_number}}">下一页</a></li>
        {% endif %}
    </ul>
</div>
<script>
$(document).ready(function() {
	$(".delete").each(function (){$(this).click(function () {
								 delete_id = $(this).attr("data-id");
								 $("#deleteHint").modal("show");
								 })});
	$("#deleteHintConfirm").click(function () {
		api.has_id("webboardDelete", function(data) {
											  if ('status' in data) {
												  $("#tr"+delete_id).remove();
											  }
										}, delete_id);
		$("#deleteHint").modal("hide");
	});
});
</script>
{% endblock %}