<!DOCTYPE HTML>
<html>
<head>
	<title>SAE Channel Chat Test</title>
	<script type="text/javascript" src="http://channel.sinaapp.com/api.js"></script>
	<script type="text/javascript">
		var channel = new sae.Channel("{{channel_url}}");
		//alert("{{channel_url}}");
		//alert(channel._base_url);
		var show = function (obj) {
			s = "";
			for (i in obj) {s+=i+' ';}
			alert(s);
		};
		var onOpened = function () {
			alert(34);
		};
		var addLi = function (code) {
			var li = document.createElement("li");
			li.innerHTML = code;
			document.getElementById("messageBox").appendChild(li);
		};
		var onMessage = function (msg) {
			addLi("received: " + msg);
		};
		var openChannel = function () {
			//show(channel);
			//channel.onopen = onOpened;
			//channel.onmessage = onMessage;
		};
		var sendMessage = function () {
			msg = document.getElementById("message").value;
			channel.send(msg);
			alert(msg);
			addLi("send: "+msg);
		};
	</script>
</head>

<body onload="openChannel();">
	<h1 style="text-align:center;">Sae channel chat test.</h1>
	<br/><hr/><br/>
	<ul id="messageBox">
	</ul>
	<br/><hr/></br>
		<label>Message:</label>
		<textarea style="resize:none;" id="message" cols="30"></textarea>
		<input type="submit" value="发送" onclick="sendMessage();"></input>
</body>
</html>