<form id="uploadForm" role="form" class="uploadForm form-inline" enctype="multipart/form-data">
	<div class="form-group col-sm-9">
		<input type="file" name="file" id="uploadFile" />
    </div>
    <div class="form-group col-sm-2">
    <button type="button" id="uploadButton" data-loading-text="上传中…" class="btn btn-primary btn-sm">上传</button></div>
</form>
<script type="text/javascript" src="/static/js/ajaxfileupload.js"></script>
<script>
$(document).ready(function(){
	var form = $("#uploadForm");
    window.uploading = false;
	form.find("#uploadButton").click(
		function() {
            	window.uploading = true;
				$.ajaxFileUpload({
					 type: "post",
					 url: "/sae/upload/",
					 secureuri: false,
					 fileElementId: form.find("input[type=file]").attr("id"),
					/* dataType: "json",*/
					 success: function(data, status) {
						 var obj = eval("("+data.getElementsByTagName("pre")[0].innerHTML+")");
						 uploadCallback(obj);
                         window.uploading = false;
						 }
					// error: function(data, status, e) {console.log(e);}
								 });
		})
});
</script>