<div class="navbar navbar-transparent navbar-inverse navbar-fixed-top " role="navigation">
	<div class="container">
		<a href="/" class="navbar-brand"><img style="height:25px;width:25px;" src="/static/img/logo.png" /></a>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="/">主页</a></li>
			   	<li><a href="/webboard/list/">公告</a></li>
			   	<li><a href="/pm/chat/" target="_blank">聊天</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right" id="loginNav">
            	<li>
                	<a href="accounts/login/">登录</a>
                </li>
            </ul>
			<ul class="nav navbar-nav navbar-right" id="userInfo">
				<li>
					<a id="userName" href="#">{{user.profile.nick_name}}</a>
				</li>
				<li>
					<a href="/accounts/logout/" id="btnLogout">退出</a>
				</li>
			</ul>
			<script type="text/javascript" src="/static/js/header.js"></script>
			<script type="text/javascript">

			toggleInfo();
			/*$(document).ready(function () {
				$("#formLogin input").keypress(function(e){
					if (e.which==13) {$("#formLoginSubmit").click();}
				});
				$("#formLoginSubmit").click(function () {
					login();
				});
				$("#btnLogout").click(function () {
					logout();
				});
			});*/
			</script>
		</div>
	</div>
</div>
