{% extends "base.html" %}
{%block title%}
首页 - 华附模联公告板
{%endblock%}
{%block container %}
  <!-- Controls -->
<div class="container">
<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<img src="http://www.hsfz.net.cn/siteapppic/14.jpg" style="width:100%"/>
	</div>
</div>
<div class="row">
      {% for object in hottest %}
        <div class="col-md-4">
          <h2>{{object.title}}</h2>
          <p style="word-wrap:break-word;">{{object.body_text|truncatewords:40}}...</p>
          <p><a class="btn btn-default" href="/webboard/{{object.id}}/" role="button">详情 &raquo;</a></p>
        </div>
		{% endfor %}
   </div>
    </div> <!-- /container -->
{%endblock%}