<div class="panel-group" id="userSidebar">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#userSidebar" href="#sidebarNotify">站内通知</a>
			</h4>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#userSidebar" href="#sidebarEmail">站内邮件</a>
			</h4>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#userSidebar" href="#collapseThree">
				 操作
				</a>
			</h4>
		</div>{% if perms.status.post %}
		<div id="collapseThree" class="panel-collapse collapse">
			<div class="panel-body">
						
							<a href="javascript:void(0);">发布公告</a>
						
			</div>
		</div>{% endif %}
	</div>
</div>