{% include "pm/detail.html" %}
{% if perms.webboard.post %}
	{% include "webboard/status/add.html" %}
{% endif %}
<div class="panel-group" id="userSidebar" style="margin-top:20px;">
	<div class="panel panel-default">
		<div class="panel-heading">
        	<span id="notifyBadge" class="badge pull-right"></span>
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#userSidebar" href="#sidebarNotify">站内通知</a>
			</h4>
		</div>
		<div id="sidebarNotify" class="panel-collapse collapse">
			<div id="notifyBody" data-api="notifyList" class="panel-body" data-kind="unread" page="" hasnext="" hasprevious="">
            	<div class="btn-group pull-left inline" data-toggle="buttons">
                	<label class="btn btn-primary btn-xs unread">
                    	<input type="radio" name="options" /> 未读                     
                    </label>
                    <label class="btn btn-primary btn-xs all">
                    	<input type="radio" name="options" /> 全部
                    </label>
                </div>
				<div class="btn-group pull-right">
					<!--<button id="notifyRefresh" class="refresh btn btn-link btn-xs">刷新</button>-->
					<button id="notifyPrevious" class="btn btn-link btn-xs hidden">上一页</button>
					<button id="notifyNext" class="btn btn-link btn-xs hidden">下一页</button>
				</div>
			</div>
			<ul id="notifyList" class="list-group">
				
			</ul>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
        	<span id="emailBadge" class="badge pull-right"></span>            
				<a data-toggle="collapse" data-parent="#userSidebar" href="#sidebarEmail">站内邮件</a>
			</h4>
		</div>
		<div id="sidebarEmail" class="panel-collapse collapse">
			<div id="emailBody" data-api="pmList" class="panel-body" data-kind="unread" page="" hasnext="" hasprevious="">
            	<div class="btn-group pull-left inline" data-toggle="buttons">
                	<label class="btn btn-primary btn-xs unread">
                    	<input type="radio" name="options" /> 未读
                    </label>                        
                    <label class="btn btn-primary btn-xs all">
                    	<input type="radio" name="options" /> 全部
                    </label>
                </div>
				<div class="pull-right btn-group">
					<!--<button id="emailRefresh" class="refresh btn btn-link btn-xs">刷新</button>-->
					<button id="emailPrevious" class="btn btn-link btn-xs hidden">上一页</button>
					<button id="emailNext" class="btn btn-link btn-xs hidden">下一页</button>
				</div>
			</div>
			<ul id="emailList" class="list-group">
				
			</ul>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#userSidebar" href="#collapseThree">
				 操作
				</a>
			</h4>
		</div>
		<div id="collapseThree" class="panel-collapse collapse">
			<div class="panel-body">
				{% if perms.webboard.post %}
					<a href="javascript:showAddForm('add');">发布公告</a>
				{% endif %}
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
	function updateList(body) {
		var page = body.attr("page");
		!page?page=1:1;
		var body = $(body), body_id = body.attr("id"), body_sel = "#"+body_id, kind = body_id.slice(0,body_id.indexOf("Body"));
		var k = body.attr("data-kind");
		var data = api.page(body.attr("data-api"), function (data) {
			var next = $(body_sel+" [id$=Next]");
			if ('status' in data)
			{
				var hasNext = data['has_next'];
				if (hasNext)
				{
					body.attr('hasnext', 'true');
					next.removeClass('hidden');
				}
				else
				{
					body.attr('hasnext', '');
					next.addClass('hidden');
				}
				var hasPrevious = data['has_previous'];
				var previous = $(body_sel+" [id$=Previous]")
				if (hasPrevious)
				{
					body.attr('hasprevious', 'true');
					previous.removeClass('hidden');
				}
				else
				{
					body.attr('hasprevious', '');
					previous.addClass('hidden');
				}				
				var list = body.parent().children("[id$=List]");
				list.empty();
				window[kind+'Objects'] = data.objects;
				for (var i=0;i<data.objects.length;i++)
				{
					var obj=data.objects[i];
					var muted=obj.has_read?'':'text-info';
					var body_text = kind=='notify'?obj.message:('<b>'+obj.sender.nick_name+'</b>：'+obj.body_text.slice(0, 20)+'...');
					var url = kind=='notify'?obj.url:"javascript:showEmailDetail(JSON.stringify("+kind+"Objects["+i+"]));";
					list.append('<li class="list-group-item"><h6 class="list-group-item-heading '+muted+'"><em>'+obj.created_time+'</em></h6><a index="'+i+'" href="'+url+'"><small class="list-group-item-text">'+body_text+'</small></a></li>');
				}
				body.attr('page', data.number);
			}
		}, {kind:k, limit:5}, page);
	}
	$(document).ready(function(){
		$("[id^=sidebar]").each(function(){
			$(this).on('shown.bs.collapse', function () {
				var body = $($(this).children("[id$=Body]")[0]);
				if (body.attr("page")) {return}
				updateList(body);
			});
		});
		$("[id$=Refresh]").each(function(){
			$(this).click(function () {
			var body = $(this).parent().parent();
			updateList(body);
									});
		});
		$("[id$=Next]").each(function(){
			$(this).click(function () {
			var body = $(this).parent().parent();
			body.attr("page",parseInt(body.attr("page"))+1);
			updateList(body);
									});
		});
		$("[id$=Previous]").each(function(){
			$(this).click(function () {
			var body = $(this).parent().parent();
			body.attr("page",parseInt(body.attr("page"))-1);
			updateList(body);
									});
		});
		$(".unread").each(
			function(){
				$(this).click().click(function(){
									   $(this).parent().parent().attr("data-kind", "unread");
									   updateList($(this).parent().parent());
									   });
			});
		$(".all").each(
			function(){
				$(this).click(function(){
									   $(this).parent().parent().attr("data-kind", "all");
									   updateList($(this).parent().parent());
									   });
			});
	});
channelMessage = function (data) {
		$(".badge").each(function(){$(this).text("");});
		if (data.n>0) {
			$("#notifyBadge").text(data.n);
		}
		if (data.p>0) {
			$("#emailBadge").text(data.p);
		}
}
	</script>
</div>